<nav class="nav collapsible">
  <img src="/images/logo.svg" alt="" />

  <span class="icon-container nav__toggler">
    <svg class="icon icon--white">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </span>

  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Heading</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
